<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= button_to 'Show', @product, method: 'get', class: "btn btn-info" %>
<%= button_to 'Back', products_path, method: 'get', class: "btn btn-primary" %>
